main {
  display: flex;
}

button {
  border-radius: 10px;
  border: 1px solid #000000;
  padding: 10px;
  min-width: 200px;
  background: none;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

header {
  margin-bottom: 50px;
  border-bottom: 1px solid #000000;
}

ul {
  display: flex;
  gap: 30px;
  list-style-type: none;
  padding: 0;
  margin: 20px;
}

.nav {
  border: 1px solid #000000;
  border-radius: 10px;
  padding: 5px;
}

.nav_active {
  background: #d1d1d1;
}

.issuedBy {
  margin-left: 160px;
  margin-top: -655px;
  font: bold 80% serif;
}

.dateOfIssue {
  margin-left: 115px;
  margin-top: 65px;
  font: 80% serif;
}

.departmentCode {
  margin-left: 330px;
  margin-top: -15px;
  font: 80% serif;
}

.receiverSignature {
  margin-left: 30px;
  margin-top: 35px;
}

.ownSignature {
  margin-left: 345px;
  margin-top: -60px;
  font: 80% serif;
}

.surname {
  margin-left: 280px;
  margin-top: 100px;
  font: bold 80% serif;
}

.name {
  margin-left: 287px;
  margin-top: 40px;
  font: bold 80% serif;
}

.middleName {
  margin-left: 265px;
  margin-top: 13px;
  font: bold 80% serif;
}

.sex {
  margin-left: 205px;
  margin-top: 13px;
  font: bold 80% serif;
}

.dateOfB {
  margin-left: 330px;
  margin-top: -16px;
  font: bold 80% serif;
}

.city {
  margin-left: 260px;
  margin-top: 13px;
  font: bold 80% serif;
}

.photo {
  margin-left: 40px;
  margin-top: -100px;
}

.data {
  margin-left: 20px;
  margin-top: 30px;
  font: 110% serif;
  color: rgba(0, 0, 0, 0.5);
}

.number1 {
  margin-left: 510px;
  margin-top: -250px;
  font: 120% serif;
  color: #a62500;
  transform: rotate(90deg);
  transform-origin: left top;
}

.number2 {
  margin-left: 510px;
  margin-top: -350px;
  font: 120% serif;
  color: #a62500;
  transform: rotate(90deg);
  transform-origin: left top;
}
